.shop {
    width: 1300px;
    margin: 0 auto;
}
.all{
    width: 100%;
    height: 100%;
}
html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.logo img {
    height: 100px;
    display: flex;
    justify-content: center;
    /* padding: 0 20%; */
}

.logo {
    height: 100px;
    padding: 10px 0;
    float: left;
    width: 13%;
}

.menu_bar {
    float: left;
    padding-left: 30px;
}

ul {
    height: 30px;
    padding: 10px;
}

ul li {
    list-style: none;
    float: left;
    width: 20%;
    font-size: 20px;

}

ul li a {
    text-decoration: none;
    color: black;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

.account {
    width: 27%;
    float: right;
    text-align: left;
    padding-top: 25px;
}

.acc,
.cart {
    width: 45%;
    height: 40px;
    float: left;
}

i svg {
    width: 30px;
    height: 30px;
    float: left;

}

.cart a,
.acc a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    height: 30px;
    float: left;
    width: 45%;
    padding-top: 5px;
}

.cart i,
.acc i {
    width: 50%;
    float: left;
    padding-left: 15px;
    width: 25%;
}



.logo img {
    height: 100px;
}

.logo {
    height: 100px;
    padding: 4px 0;
    float: left;
}

.menu_bar {
    width: 57%;
    float: left;
}

ul {
    height: 30px;
    /* padding: 0px; */
    padding-top: 25px;
}

ul li {
    list-style: none;
    float: left;
    width: 25%;
    font-size: 20px;
    text-align: center;
}
ul li  :hover,.cart a:hover,.acc a:hover{
    color: orangered;
}



i svg {
    width: 22px;
    height: 25px;
    float: left;
}

.cart a,.acc a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    height: 30px;
    float: left;
    width: 50%;
    padding-top: 5px;
}

.cart i,
.acc i {
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-top: 5px;
    /* height: 30px; */
    width: 35%;
    /* height: 30px; */
}


.header {
    background-color: rgb(248, 248, 248);
    border-color: rgb(231, 231, 231);
    position: fixed;
    z-index: 99;
    height: 120px;
    width: 1350px;
    box-shadow: 2px 2px 2px 2px orangered;
}

.search{
  float: right;
}
#form1{
    width: 300px;
    border-radius: 20px;
}
.fa-magnifying-glass{
    position: absolute;
    top: 5px;
    right: 5px;

}
.input-group{ 
    justify-content: flex-end;
}
.acc i svg , .cart i svg {
    width: 30px;
    height: 30px;
}